pip==25.1
loguru==0.7.3
python-dotenv==1.0.1
ruff==0.9.10
tqdm==4.67.1
typer==0.15.2
pandas==2.2.3
scikit-learn==1.6.1
matplotlib==3.10.1
seaborn==0.13.2
numpy==2.2.4
ipykernel==6.29.5
librosa==0.11.0
wandb==0.19.9
torch == 2.7.0
torchaudio == 2.7.0
torchvision == 0.22.0
ipywidgets==8.1.6
resampy==0.4.3
shap
streamlit-shap
streamlit
-e .
